.windBnb__stays_image {
  height: 269px;
  overflow: hidden;
  border-radius: 24px;
  cursor: pointer;

  & img{
    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }

  & img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
}

.windBnb__stays_info__left {
  width: max-content !important;
  display: flex;
  gap: 11px;
}

.super_host {
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  width: 100px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* identical to box height */
  text-transform: uppercase;

  color: #4f4f4f;
}

.type {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */

  /* Gray 3 */
  color: #828282;
}

.windBnb__stays_info__right {
  width: max-content !important;
  & .star {
    color: #eb5757;
  }

  & .rating {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */

    color: #4f4f4f;
  }
}

.windBnb__stays_title {
  & .title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    /* identical to box height */
    text-align: left;

    color: #333333;
  }
}
